<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040660131401-96qp5ivss7jg3tmbqq70jqd2j30kbdo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040660131401-96qp5ivss7jg3tmbqq70jqd2j30kbdo9</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-igq-YqM0Gstb04XsRbyBLCW9NazZ5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1040660131401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.obligatoryofficiality.sunshineCleanest</string>
	<key>PROJECT_ID</key>
	<string>sunshine-cleanest</string>
	<key>STORAGE_BUCKET</key>
	<string>sunshine-cleanest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040660131401:ios:3e66e20b8e4705f39b9998</string>
</dict>
</plist>